name: musicbrainz_api_client
description: "A Dart/Flutter client to interact with MusicBrainz API to access its database. Does not provide any methods that need user level authentication."
version: 0.1.5
homepage: https://github.com/akashskypatel/musicbrainz_api_client

environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.3.0
  logging: ^1.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
